:root{
    --main-color: #1F2937;
    --main-letter:#F9FAF8;
    --light-letter:#E5E7EB;
}

*{
    margin: 0;
    padding:0;
}

/*header*/

.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.head header{
    display: flex;
    justify-content: space-around;
    height: 10vh;
    background-color: var(--main-color);
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items:center;
}

.logo img{
    width: 100%;
    height: 100%;

}



.head li {
    list-style: none;
}

.head a {
    text-decoration: none;
    color: var(--light-letter);
    font-size: 18px;
}

.head .nav {
    display:flex;
    justify-content: center;
    align-items:center;
}

.head .nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex: 1 1 auto;
}

.head .nav li{
    padding: 2em;
}


/*class first*/
.first {
    background-color: var(--main-color);
    margin-top: 10vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div{
    width: 500px;
    padding: 20px;
}

.container img{
    width: 500px;
}

.main-text{
    font-size: 48px;
    font-weight: bold;
    color: var(--main-letter);
}

.sec-text{
    font-size: 18px;
    color: var(--light-letter);
}

.btn{
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
}
